<h1>Configurações do Perfil</h1>

	<%= form_with(url: deactivate_profile_path, method: :patch) do |form| %>
		<p><strong class="text-danger">Atenção:</strong> Todos os dados relacionados ao seu perfil serão ARQUIVADOS. Você pode reativar sua conta fazendo log-in novamente.</p>
		<%= form.submit 'Desativar Perfil',
			class: "btn btn-danger",
			data: { turbo_confirm: 'Tem certeza que deseja desativar a conta?' }
		%>
	<% end %>
