<div class="container text-center">
  <div class="d-flex flex-column">
    <h1 class="text-primary"><%= @profile.full_name %></span></h1>
    <h2>Seguido por <%= @follower_profiles.count %> <%= User.model_name.human(count: @follower_profiles.count).downcase %></h2>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center gap-3 mt-4">
    <% @follower_profiles.each do |connection| %>
      <%= render 'connection_cards', connection_profile: connection.follower %>
    <% end %>
  </div>
</div>