<h2><%= ProfessionalInfo.model_name.human %></h2>

<%= render 'error_message', professional_info: @professional_info %>

<%= form_with model: @professional_info, url: professional_info_path(@professional_info) do |professional_info| %>
  <%= render 'form', professional_info: professional_info %>
<% end %>
