<p>
  Você recebeu um convite para
  <%= link_to notification.notifiable.project_title, invitation_path(notification.notifiable) %>
  há <%= distance_of_time_in_words_to_now(notification.notifiable.created_at) %>
</p>