<div class="container d-flex flex-column align-items-center">
  <h2>Notificações</h2>
  <% if @notifications&.any? %>
    <%= render 'notifications', notifications: @notifications %>
  <% else %>
    <p>Nenhuma notificação encontrada</p>
  <% end %>
</div>