<div class="container d-flex flex-column align-items-center">
  <h2>Notificações</h2>
  <% if @notifications&.any? %>
      <% @notifications.each do |notification| %>
        <div class="list-group">
            <%= render(
            partial: "#{notification.notifiable.class.name.downcase}" ,
            locals: { notification: notification }
            )%>
          há <%= distance_of_time_in_words_to_now(notification.notifiable.created_at) %></p>
        </div>
      <% end %>
  <% else %>
    <p>Nenhuma notificação encontrada</p>
  <% end %>
</div>