
<div class="container">
  <div id="vue-app" class="card">
    <div class="card-body">
      <p>
        Porfoliorrr é uma rede social em que pessoas podem cadastrar suas informações e formações,<br>
        além de fazer postagens próprio para exibir seu trabalho ao mundo.<br>
        É seu currículo e é seu portfólio, é o
      </p>
      <h1>Portfoliorrr</h1>
    </div>
  </div>
</div>