<div class="container">
  <div id="vue-app" class="card">
    <div class="card-body">
      <p>
        Porfoliorrr é uma rede social em que pessoas podem cadastrar suas informações e formações,<br>
        além de fazer postagens próprio para exibir seu trabalho ao mundo.<br>
        É seu currículo e é seu portfólio, é o
      </p>
      <h1>Portfoliorrr</h1>
    </div>
  </div>

  <section class="my-5">
    <h2>Feed</h2>
    <% if user_signed_in? && current_user.profile.followed_count > 0 %>
      <% if @followed_posts.any? %>
      <div>
        <%= render partial: 'posts/listing', locals: { posts: @followed_posts.each } %>
      </div>
      <% else %>
      <div>
        <h4>Não existem posts de perfis que você segue. Veja o que outras pessoas estão publicando:</h4>
        <%= render partial: 'posts/listing', locals: { posts: @posts } %>
      </div>
      <% end %>
    <% else %>
      <div>
        <h4>Você ainda não segue nenhum usuário. Para ver o conteúdo de seu interesse siga alguém.</h4>
        <%= render partial: 'posts/listing', locals: { posts: @posts } %>
      </div>
    <% end %>
  </section>
</div>
