<div class="container" id="vue-projects-app">
  <h2>Lista de Projetos</h2>
  <div v-if="emptyData">
    <p>{{ emptyData }}</p>
  </div>
  <div v-else>

      <label for="titleSearch">Pesquisar por Título</label>
      <input v-model="titleSearch" type="text" name="titleSearch" id="titleSearch">

      <label for="categorySearch">Pesquisar por Categoria</label>
      <input v-model="categorySearch" type="text" name="categorySearch" id="categorySearch">

      <label for="descriptionSearch">Pesquisar por Descrição</label>
      <input v-model="descriptionSearch" type="text" name="descriptionSearch" id="descriptionSearch">
    <div v-if="filteredProjects.length === 0">
      <p>Não foi possível encontrar nenhum projeto.</p>
    </div>
    <div v-else>
      <div v-for="project in filteredProjects" :key="project.id">
        <h3>Título: {{ project.title }}</h3>
        <p>Descrição: {{ project.description }}</p>
        <p>Categoria: {{ project.category }}</p>
      </div>
    </div>
  </div>
</div>
