<h2><%= t('blog_title', full_name: @user.full_name) %> </h2>

<% @user.posts.sort_by(&:created_at).reverse.each do |post| %>
<ul>
  <li>
    <em><time datetime="<%= post.created_at.to_date %>">
      <%= post.created_at.strftime("%d-%m-%y") %>
    </time></em> 
    <br><h3><%= link_to post.title, post_path(post) %></h3>
  </li>
</ul>
<% end %>
