<% if @education_info.errors.any? %>
  <p>Verifique o(s) erro(s) abaixo:</p>
    <ul class="alert alert-warning" role="alert"> 
      <% @education_info.errors.full_messages.each do |msg| %>
        <li><%= msg %> </li>
      <% end %>
    </ul>
  <% end %>
