body{
  min-width: 400px;
}

ul{
  list-style: none !important;
}

input[type="checkbox"]:checked {
  background-color: #a130fd !important;
}

.field_with_errors input{
  border: 1px solid red !important;
}

.home_logo{
  width: 12rem;
  margin: 0 7rem 0 7rem;
}

#searchText{
  width: 380px !important;
}

.categories{
  width: 35% !important;
}

.most-followed-users{
  size: 22rem;
}

.most-followed-title{
  margin-bottom: 2px !important;
}

.most-followed-cards{
  padding: 1rem !important;
  margin-bottom: 2px !important;
}

.most-followed-cards a{
  text-decoration: none !important;
}
