.drop-menu{
  margin-right: 2.5rem !important;
}

.dropdown-menu[data-bs-popper]{
  left: -20px !important;
}

.dropdown-item:active {
  background-color: #9030df !important;
}

.personal-info-visibility{
  list-style: disc !important;
}

.notification-badge{
  position: absolute;
  right: 5% !important;
}

.badge-container{
  position: relative !important;
}