.feed-post:hover{
  transform: scale(1.01, 1.01);
  transition-duration: 300ms;
}

.trix-content{
  color: rgb(10, 10, 10);
  text-align: left !important;
}

.post-title{
  font-size: 1.8rem;
}

figure.attachment{
  width: 50% !important;
}