.feed-post:hover{
  transform: scale(1.01, 1.01);
  transition-duration: 300ms;
}

.trix-content{
  color: rgb(10, 10, 10);
  text-align: left !important;
}

.post-title{
  font-size: 1.8rem;
}

figure.attachment{
  width: 50% !important;
}

.share-link{
  width: 15rem;
}

.home-publication-button{
  width: 25vw !important;
  margin-right: 5rem;
  text-align: left !important;
}

.comment-message, .reply-form{
  margin-left: 5.2rem !important;
}

.comment-actions{
  margin-left: 5.0rem !important;
}

.reply-content{
  margin-left: 4.5rem !important;
}

.reply-form{
  min-width: 350px;
}

.reply-collapser{
  margin-left: 4.8rem !important;
  color: #065fd4 !important;
  font-size: medium;
}

.reply-content, .comment-message{
  font-size: small;
}