<h1>Você recebeu uma nova notificação!</h1>

<p>
  <%= @notification.notifiable.user.full_name %> curtiu seu post
</p>
<p>
  <%= @notification.notifiable.likeable.title %>
</p>
<p>
  <%= @notification.notifiable.likeable.content %>
</p>