<ul>
  <% personal_info.each do |attribute, value| %>
    <li>
      <%= PersonalInfo.human_attribute_name(attribute) %>:
      <% if value && attribute == 'birth_date' %>
        <%= l(value.to_date) %>
      <% else %>
        <%= value %>
      <% end %>
    </li>
  <% end %>
</ul>